:root{
    --header-height: 4.75rem;
    --red: #FF0036;
    --pink: #D30ED1;
    
}


*,::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}