:root {
	--header-height: 4.75rem;
	--red: #ff0036;
	--pink: #d30ed1;
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Gotham';
	src: url('./fonts/Gotham-Book.otf') format('opentype');
}

html {
	scroll-behavior: smooth;
}

body {
	margin: var(--header-height) 0 0 0;
	font-family: Gotham !important;
	background: #F9F9F9;
}

button {
	font-family: 'Gotham';
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color:#000;
}
img {
	max-width: 100%;
	height: auto;
}

.btn-primary{
	padding: 12px 16px;
	background: linear-gradient(270deg, #ff0036 0%, #d30ed1 100%);
	border-radius: 4px;
	border: none;
	color: white;
	font-weight: 500;
	line-height: 24px;
}

.btn-primary:hover{
	background: #d30ed1;
}